@{
    ViewData["Title"] = "Страница не найдена (404)";
}

<div class="text-center">
    <h1 class="display-4">404</h1>
    <p class="lead">Страница не найдена</p>
    <p>Запрашиваемый вами ресурс не существует или был перемещен.</p>
    <a href="/" class="btn btn-primary">Вернуться на главную</a>
</div>